@mixin textBG($width, $height, $bottom, $pos: absolute) {
  content: "";
  background-color: $textBG;
  display: inline-block;
  position: $pos;
  bottom: $bottom;
  z-index: -1;
  width: $width;
  height: $height;
}
@mixin logo {
  img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }
  p {
    font-family: $headerTextFont;
    display: grid;
    font-weight: bold;
    line-height: 12px;
    font-size: 20px;
    span {
      font-size: 8px;
      text-align: center;
    }
  }
}
%link {
  color: #ffffff;
  &:hover {
    color: darken(#ffffff, 30%);
  }
}
%button {
  background-color: $btnColor;
  color: #ffffff;
  border-radius: 2px;
  border: hidden;
  font-weight: bold;
  padding: 10px 35px;
  &:hover {
    background-color: darken($btnColor, 15%);
  }
}
* {
  padding: 0;
  margin: 0;
}
body {
  margin-right: auto;
  margin-left: auto;
  max-width: 1460px;
  background: $bodyBG;
  font-family: map-get($fontFamily, sans);
}
.header {
  background-image: $headerBG;
  background-size: cover;
  background-position: center;
  color: $fontColor1;
  border-radius: 0 0 600px/200px 0;

  .header-wrap {
    padding-top: 20px;
    margin-left: 10%;

    .landing-logo {
      display: flex;
      align-items: center;
      @include logo;
    }
    .header_heading {
      width: 40%;
      line-height: 60px;
      padding: 50px 0 25px 0;
      font-size: 56px;
      font-weight: bold;
      position: relative;
      z-index: 1;
      &::before {
        @include textBG(236px, 35px, 35px);
        left: 0;
      }
    }

    .header_text {
      font-size: 12px;
      line-height: 20px;
      white-space: pre-line;
      font-family: $headerTextFont;
    }
  }
  .header_text + div {
    display: inline;
    button {
      margin: 50px 100px 100px 0;
      @extend %button;
    }

    a {
      @extend %link;
    }
  }
}
main {
  letter-spacing: 0.5px;
  padding-bottom: 50px;
  p.section_text {
    text-align: center;
    margin: 30px;
    font-size: 30px;
    position: relative;
    z-index: 1;
    font-family: map-get($fontFamily, sans);
    color: $fontColor1;
    &::before {
      @include textBG(133px, 30px, 0, relative);
      left: 299px;
    }
  }
  div.section_card_wrap {
    // display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 920px;
    text-align: center;

    div.section_card {
      color: $secNFooterColor;
      display: flex;
      align-items: center;
      border-radius: 5px;
      padding: 15px;
      background-color: $colorMainNFooter;
      margin-bottom: 20px;
    }
    .section_card_heading {
      font-size: 18px;
      font-weight: bold;
      // margin-bottom: 20px;
    }

    .section_card_text {
      font-size: 13px;
      margin-bottom: 15px;
      text-align: justify;
      font-family: $secCardText;
    }

    .section_card_img {
      max-width: 340px;
      width: 100%;
      border-radius: 4px;
      margin-right: 70px;
    }

    .section_card_right_container {
      .section_card_heading {
        // font-weight: bold;
        margin-bottom: 20px;
      }

      .section_card_text {
        // margin-bottom: 15px;
        margin-right: 70px;
      }

      .section_link {
        color: $secNFooterColor;
        @extend %link;
      }
    }
  }
  .section_banner {
    margin-right: auto;
    margin-left: auto;
    padding: 0 126px 0 126px;
    width: 770px;
    height: 110px;
    background: $gradient;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 100px;

    .section_banner_heading {
      z-index: 1;
      color: $fontColor1;
      font-size: 24px;
      font-weight: bold;
      position: relative;
      margin-bottom: 10px;
      &::before {
        @include textBG(51px, 34px, 3px, absolute);
        left: 100px;
      }
    }

    .section_banner_text {
      font-family: $secCardText;
      font-size: 13px;
      color: $secNFooterColor;
    }

    .section_banner_button {
      @extend %button;
    }
  }
}
footer {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
  color: $secNFooterColor;
  background-color: $colorMainNFooter;
  font-size: 12px;
  font-family: $secCardText;
  .footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
  }
  .landing-logo {
    display: flex;
    align-items: center;
    @include logo;
  }
  .footer_text {
    // width: 100%;
    max-width: 242px;
    margin-bottom: 15px;
  }
  .footer-cr {
    letter-spacing: 0.5px;
  }
}
