$bodyBG: #ffffff;
$headerBG: url(../img/m-h-day.jpg);
$colorMainNFooter: #21232e;
$btnColor: #699900;
$fontColor1: #2c2f3c;
$gradient: linear-gradient(90deg, #649412, #2b59dc);
$fontOne: "Source Sans Pro", sans-serif;
$fontTwo: "Hind", sans-serif;
$fontThree: "Fresca", sans-serif;
$textBG: #14a0c7;
$secCardText: $fontOne;
$secNFooterColor: #cfc4b4;
$headerTextFont: $fontTwo;
