$bodyBG: #21232e;
$headerBG: url(../img/m-h-night.jpg);
$colorMainNFooter: #3b3f50;
$btnColor: #e3ac00;
$fontColor1: #ffffff;
$gradient: linear-gradient(90deg, #e3ac00, #932d52);
$fontOne: "Source Sans Pro", sans-serif;
$fontTwo: "Hind", sans-serif;
$fontThree: "Fresca", sans-serif;
$fontFamily: (
  sans: $fontOne,
  hind: $fontTwo,
  fresca: $fontThree
);
$textBG: #ff4e33;
$secCardText: $fontThree;
$secNFooterColor: #cfc4b4;
$headerTextFont: $fontThree;
