body {
  cursor: pointer;
}

.material-icons {
  color: #fdca2c;
  font-size: 20px;
}

.show {
  display: block;
}

p + ul,
.hidden {
  display: none;
}

ul {
  padding-left: 10px;
  list-style: none;
}

p:hover {
  background-color: #f2f2f2;
}

.file:hover {
  background-color: #f2f2f2;
}

span .material-icons {
  color: #c0c0c0;
}

p,
span {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin: 3px 0;
}

span.show {
  font-style: italic;
  margin-left: 16px;
}
