nav .tm-nav-item:hover {
  background-color: lightskyblue;
}
nav .tm-nav-item-link:hover {
  color: #fff;
}
.tm-banner {
  background: linear-gradient(90deg, lightskyblue, burlywood);
}
.tm-banner-text {
  text-shadow: 5px 5px 3.5px #333;
  animation-name: move;
  animation-duration: 4s;
}
.tm-banner-inner {
  background: white;
}
@keyframes move {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }
}
.flex-2-col {
  display: flex;
  align-items: center;
}
.tm-section-title {
  text-align: center;
}
.tm-section-description {
  text-indent: 25px;
}
.box-bg:hover {
  background-color: lightgrey;
  font-style: italic;
}
.heading h2 {
  color: lightskyblue;
  text-align: center;
}
.heading ol {
  list-style-type: lower-alpha;
}
.heading li:hover::before {
  content: ">";
  font-weight: bold;
  color: black;
}
.heading li:first-child::after,
.heading li:nth-child(3)::after {
  content: "New";
  color: red;
  vertical-align: top;
  font-size: x-small;
  font-weight: bold;
  font-variant: petite-caps;
}
.blocks.tm-section-title {
  text-align: left;
}
.blocks > .tm-team-description-container p:last-child {
  letter-spacing: 5px;
  word-spacing: 10px;
  font-style: italic;
}
